
.watermark{
    height: 3rem;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
  }

  .watermark .logoImage{
    height: inherit;
    width: auto;
  }

  .watermark .logoText{
    color: #fff;
  }